.seating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seatsec {
  border: grey solid 1px;
  padding: 7px;
  margin: 5px;
}

.seat {
  margin: 2px;
  text-align: center;
  cursor: pointer;
  width: 50px; /* Adjust size of each seat box */
  height: 50px;
  background-color: lightgray;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.conductorseat {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .col-md-6 {
    width: 100%;
    margin-bottom: 1rem;
  }
  .seat {
    width: 30px;
    height: 30px;
    font-size: 10px; /* Adjust font size for smaller screens */
  }
  .seat-info .seat {
    width: 15px;
    height: 15px;
    font-size: 8px; /* Adjust font size for info section */
  }
  .seat-button {
    padding-bottom: 0;
    margin: 2px;
  }
}

.row-container {
  display: flex;
  flex-direction: column;
}

.seat-row {
  display: flex;
  flex-wrap: wrap;
}

.booked {
  background-color: grey;
}

.bookedseat {
  background-color: rgb(158, 157, 157);
  color: white;
}

.single-ladyseat {
  background-color:  rgb(199, 12, 99);
  color: black;
}

.availableseat {
  background-color: green;
  color: white;
}

.seat-info {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
}

.seat-info p {
  margin: 5px 0;
}

.seat-info .seats {
  width: 15px;
  height: 15px;
  border-radius: 50% ;
  display: inline-block;
}

.seat-button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat-button.available {
  background-color: green;
  color: white;
}

.seat-button.singlelady {
  background-color: rgb(199, 12, 99);
  color: rgb(255, 255, 255);
}

.seat-button.booked {
  background-color: grey;
  color: white;
}
